@keyframes translate-gros-nuage{
    0% {
        transform: translateX(-110%);
    }
    100% {
        transform: translateX(90%);
    }
}
@keyframes translate-medium-nuage{
    0% {
        transform: translateX(-70%);
    }
    100% {
        transform: translateX(70%);
    }
}
@keyframes translate-piti-nuage{
    0% {
        transform: translateX(-70%);
    }
    100% {
        transform: translateX(60%);
    }
}