/*************************************************/
/******************** NUAGES ********************/
/***********************************************/

@keyframes translate-gros-nuage{
    0% {
        transform: translateX(-110%);
    }
    100% {
        transform: translateX(90%);
    }
}
@keyframes translate-medium-nuage{
    0% {
        transform: translateX(-70%);
    }
    100% {
        transform: translateX(70%);
    }
}
@keyframes translate-piti-nuage{
    0% {
        transform: translateX(-70%);
    }
    100% {
        transform: translateX(60%);
    }
}

/********************************************************/
/******************** NAME ENTRANCE ********************/
/******************************************************/

@keyframes title {
    0% {
        opacity: 0;
        transform: translateY(-400%);
    }
    50%{
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes subtitle {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    50%{
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}