@keyframes text-floating {
    0% { transform: translate(0,  0); }
    50%  { transform: translate(0, -0.3rem); }
    100%   { transform: translate(0, 0); }   
}
@keyframes h1-floating {
    0% { transform: translate(0,  0); }
    50%  { transform: translate(2rem, 0); }
    100%   { transform: translate(0, 0); }   
}
@keyframes h2-floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(2rem, 0); }
    100%   { transform: translate(0, 0); }   
}
@keyframes h3-floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(2rem, 0); }
    100%   { transform: translate(0, 0); }   
}

/* @keyframes btn1-floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 1rem); }
    100%   { transform: translate(0, 0); }   
}
@keyframes btn2-floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 1rem); }
    100%   { transform: translate(0, 0); }   
} */