@font-face {
    font-family: Urbanist-Regular;
    src: url("/fonts/Urbanist-Regular.ttf") format("truetype");
}
@font-face {
    font-family: KGHAPPY;
    src: url("/fonts/KGHAPPY.ttf") format("truetype");
}
@font-face {
    font-family: HEYCOMIC;
    src: url("/fonts/Hey\ Comic.ttf") format("truetype");
}

/******************************************************************************/
/********************************* VARIABLES *********************************/
/****************************************************************************/

:root {
    --navbar-mobile-background: rgba(255, 255, 255, 0.15);
    --navbar-mobile-border: 1px solid rgba( 255, 255, 255, 0.18 );
    --footer-mobile-background: rgba(255, 255, 255, 0.30);
    --footer-mobile-border: 1px solid rgba( 255, 255, 255, 0.18 );
    --navbar-link-hover: rgb(197, 228, 254);
}

/*************************************************************************/
/********************************* BODY *********************************/
/***********************************************************************/

body {
    min-height: 100vh;
    color: #fff;
    background-image: linear-gradient(to bottom, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/*******************************************************************************/
/********************************* BACKGROUND *********************************/
/*****************************************************************************/

.container {
    height: 70vh;
    width: 70vw;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 40px;
    position: relative;
    overflow:hidden;
}
img.superpose{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
#premier-plan {
    z-index: 4;
}
#deuxieme-plan {
    z-index: 3;
}
#arriere-plan1 {
    z-index: -1;
}
#gros-nuage {
    animation-duration: 65s;
    animation-timing-function: linear;
    animation-name: translate-gros-nuage;
    animation-iteration-count: infinite;
}
#moyen-nuage {
    animation-duration: 42s;
    animation-timing-function: ease-in;
    animation-timing-function: linear;
    animation-name: translate-medium-nuage;
    animation-iteration-count: infinite;
}
#piti-nuage {
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-name: translate-piti-nuage;
    animation-iteration-count: infinite;
}

/*************************************************************************/
/********************************* MAIN *********************************/
/***********************************************************************/

#main{
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

/***************************************************************************/
/********************************* HEADER *********************************/
/*************************************************************************/

.header{
    z-index: 100;
    display: flex;
    justify-content: space-around;
}

.name-container-firstname{
    font-size: 5rem;
    font-family: 'KGHAPPY';
    margin-bottom: 0.5rem;
    animation: title 1.5s ease 0s 1 normal forwards;
}
.name-container-lastname{
    font-size: 1.2rem;
    font-family: 'Urbanist-Bold';
    margin-left: 2rem;
    animation: subtitle 2.5s ease 0s 1 normal forwards;
}

/***************************************************************************/
/********************************* NAVBAR *********************************/
/*************************************************************************/

.navbar{
    z-index: 100;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
}
.navbar-link-text{
    font-size: 1.2rem;
    font-family: 'HEYCOMIC';
}
.navbar-link::after{
	content: '';
	display: block;
	width: 0;
	height: 0.2rem;
    margin-top: 0.1rem;
	background: var(--navbar-link-hover);
	transition: .4s;
}
.navbar-link:hover::after{
	width: 100%;
	transition: .4s;
}

/***************************************************************************/
/********************************* ARTICLE *********************************/
/**************************************************************************/

article{
    z-index: 100;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/***************************************************************************/
/********************************* FOOTER *********************************/
/*************************************************************************/

.footer{
    z-index: 100;
    /*background-color: green;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 10rem;
    font-family: 'Urbanist-Regular';
    color: #fff;
}
.footer h3{
    font-size: 1.3rem;
    text-decoration: underline;
    padding-bottom: 0.5rem;
    font-weight: bold;
}
.footer-first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.3rem;
    margin-bottom: 0.7rem;
}
.footer-second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.3rem;
}

/*********************************************************************************/
/***************************** @RESPONSIVE TABLETTE *****************************/
/*******************************************************************************/

@media screen and (min-width: 768px) and (max-width: 1439px){
    #arriere-plan, #deuxieme-plan, #premier-plan, #gros-nuage, #moyen-nuage, #piti-nuage{
        display: none;
    }
    .container {
        height: 90vh;
        width: 80vw;
    }
    .header{
        flex-direction: column;
    }
    .name-container-firstname{
        font-size: 5rem;
    }
    .name-container-lastname{
        font-size: 1rem;
        margin-left: 1rem;
    }
    .navbar{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .navbar p{
        background-color: var(--navbar-mobile-background);
        border: 1px solid var(--navbar-mobile-border);
        border-radius: 10px;
        padding: 0.3rem 0.4rem;
        font-size: 1rem;
    }
    .footer{
        margin: 0;
    }
    .footer h3{
        color: #5b93f3;
    }
    .footer p{
        margin: 0.3rem 0rem;
    }
    .footer-first-section{
        width: 45%;
        height: 7rem;
        justify-content: space-evenly;
        background-color: var(--footer-mobile-background);
        border: var(--footer-mobile-border);
        backdrop-filter: blur( 4px );
        border-radius: 10px;
        color:#467bd6;
    }
    .footer-second-section{
        width: 50%;
        height: 7rem;
        background-color: var(--footer-mobile-background);
        border: var(--footer-mobile-border);
        backdrop-filter: blur( 4px );
        border-radius: 10px;
        color: #558ef1;
    }
}

/*******************************************************************************/
/***************************** @RESPONSIVE MOBILE *****************************/
/*****************************************************************************/

@media screen and (max-width: 767px){
    #arriere-plan, #deuxieme-plan, #premier-plan, #gros-nuage, #moyen-nuage, #piti-nuage{
        display: none;
    }
    .container {
        height: 90vh;
        width: 80vw;
    }
    .header{
        flex-direction: column;
    }
    .name-container-firstname{
        font-size: 2.5rem;
    }
    .name-container-lastname{
        font-size: 1rem;
        margin-left: 1rem;
    }
    .navbar{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .navbar p{
        background-color: var(--navbar-mobile-background);
        border: 1px solid var(--navbar-mobile-border);
        border-radius: 10px;
        padding: 0.3rem 0.4rem;
        font-size: 0.8rem;
    }
    .footer{
        flex-direction: column;
        margin: 0;
    }
    .footer h3{
        color: #5b93f3;
    }
    .footer p{
        margin-bottom: 0.3rem;
    }
    .footer-first-section{
        background-color: var(--footer-mobile-background);
        border: var(--footer-mobile-border);
        backdrop-filter: blur( 4px );
        border-radius: 10px;
        color:#467bd6;
    }
    .footer-second-section{
        margin: 0.2rem 0rem;
        background-color: var(--footer-mobile-background);
        border: var(--footer-mobile-border);
        backdrop-filter: blur( 4px );
        border-radius: 10px;
        color: #558ef1;
    }
}




/* .card{
    height: 85%;
    width: 30%;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.25); 
    box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.25);
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: saturate(1.3);
}

.link{
    height: 3%;
    display: flex;
    justify-content: end;
}
.link img{
    margin: 0 0.5rem;
    filter: saturate(0);
} */
